
<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= radio_button_tag(:item_type, "number") %>
    <%= label_tag(:item_number, "number") %>
    <%= radio_button_tag(:item_type, "scale") %>
    <%= label_tag(:item_scale, "scale") %>
    <%= radio_button_tag(:item_type, "boolean") %>
    <%= label_tag(:item_boolean, "boolean") %>
  </div>
  <div class="actions">
    <%= f.submit "add new item" %>
  </div>
<% end %>