<div class=""><%= link_to 'X', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<div class=""><%= item.id %> | <%= type %></div>
<input name="trace[][item_id]" type="hidden" value="<%= item.id %>"/>
<div class=""><%= item.name %></div>
<div class="">input</div>

<% if type == "number" %>

	<%= number_field_tag 'trace[][input]', trace.input %>

<% elsif type == "scale" %>

	<%= range_field_tag 'trace[][input]', trace.input, in: 0...10 %>

<% else %>

	<!-- oh booleans, you're such a pain -->
	<% if trace.input == nil %>
		<%= radio_button_tag 'trace[][input]'+item.name, 1, checked=false %>
		<%= radio_button_tag 'trace[][input]'+item.name, 0, checked=false %>
	<% else %>
		<%= radio_button_tag 'trace[][input]'+item.name, 1, checked=(trace.input == 1) %>
		<%= radio_button_tag 'trace[][input]'+item.name, 0, checked=(trace.input != 1) %>
	<% end %>

<% end %>

<div>
	<input name="trace[][notes]" type="text_area" value="<%= trace.notes %>" />
</div>

<div class="">clear</div><br>


