<div class=""><%= link_to 'X', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
<div class=""><%= item.id %> | <%= type %></div>
<input name="trace[][item_id]" type="hidden" value="<%= item.id %>"/>
<div class=""><%= item.name %></div>

<% if type == "number" %>

	<div>
		<%= number_field_tag 'trace[][input]', trace.input %>
		<input name="trace[][notes]" type="text_area" value="<%= trace.notes %>" />
		<span class="clear-number">clear</span>
	</div>

<% elsif type == "scale" %>
	<div>
		<div class="range-input-value"></div>
		<%= range_field_tag 'trace[][input]', trace.input, in: 0...11 %>
		<input name="trace[][notes]" type="text_area" value="<%= trace.notes %>" />
		<span class="clear-range">clear</span>
	</div>

<% else %>

	<div>
		<!-- oh booleans, you're such a pain -->
		<% if trace.input == nil %>
			true
			<%= radio_button_tag 'trace[][input]'+item.name, 1, checked=false %>
			false
			<%= radio_button_tag 'trace[][input]'+item.name, -1, checked=false %>
		<% else %>
			true
			<%= radio_button_tag 'trace[][input]'+item.name, 1, checked=(trace.input == 1) %>
			false
			<%= radio_button_tag 'trace[][input]'+item.name, -1, checked=(trace.input != 1) %>
		<% end %>
		<input name="trace[][notes]" type="text_area" value="<%= trace.notes %>" />
		<span class="clear-boolean">clear</span>
	</div>

<% end %>
<br>

<script type="text/javascript">

  $( 'input[type="range"]' ).change(function() {
    var rangeValue = $(this).val()
    $(this).prev('.range-input-value').html( rangeValue )
  });

  $( '.clear-number' ).click(function() {
    $(this).prev().val( null )
    $(this).prev().prev().val( null )
  });

  $( '.clear-range' ).click(function() {
    $(this).prev().val( null )
    $(this).prev().prev().val( 0 )
    $(this).prev().prev().prev().html( "" )
  });

  $( '.clear-boolean' ).click(function() {
    $(this).prev().val( null )
    $(this).prev().prev().prop('checked', false)
    $(this).prev().prev().prev().prop('checked', false)
  });

</script>


