<div class="row item-line">

	<div class="col-sm-2">
		<span class="delete-item"><%= link_to 'X', item, method: :delete, data: { confirm: 'Are you sure?' } %></span>
		<input name="trace[][item_id]" type="hidden" value="<%= item.id %>"/>
		<span><%= item.name %></span>
	</div>

	<% if type == "number" %>

	<div class="col-sm-4">
		<%= number_field_tag 'trace[][input]', trace.input %>
	</div>
	<div class="col-sm-4">
		<input class="notes" name="trace[][notes]" type="text_area" value="<%= trace.notes %>" />
	</div>
	<div class="col-sm-2">
		<span class="col-sm-4 clear-number">clear</span>
		<span class="col-sm-4"><%= link_to 'edit', edit_item_path(item) %></span>
		<span class="col-sm-4">hide</span>
	</div>

	<% elsif type == "scale" %>

	<div class="col-sm-4">
		<span class="range-input-value"><%= trace.input %></span>
		<%= range_field_tag 'trace[][input]', trace.input, in: 0...11 %>
	</div>
	<div class="col-sm-4">
		<input class="notes" name="trace[][notes]" type="text_area" value="<%= trace.notes %>" />
	</div>
	<div class="col-sm-2">
		<span class="col-sm-4 clear-range">clear</span>
		<span class="col-sm-4"><%= link_to 'edit', edit_item_path(item) %></span>
		<span class="col-sm-4">hide</span>
	</div>

	<% else %>

	<!-- oh booleans, you're such a pain -->
	<div class="col-sm-4">
		<% if trace.input == nil %>
			true
			<%= radio_button_tag 'trace[][input]'+item.name, 1, checked=false %>
			false
			<%= radio_button_tag 'trace[][input]'+item.name, -1, checked=false %>
		<% else %>
			true
			<%= radio_button_tag 'trace[][input]'+item.name, 1, checked=(trace.input == 1) %>
			false
			<%= radio_button_tag 'trace[][input]'+item.name, -1, checked=(trace.input != 1) %>
		<% end %>
	</div>
	<div class="col-sm-4">
		<input class="notes" name="trace[][notes]" type="text_area" value="<%= trace.notes %>" />
	</div>
	<div class="col-sm-2">
		<span class="col-sm-4 clear-boolean">clear</span>
		<span class="col-sm-4"><%= link_to 'edit', edit_item_path(item) %></span>
		<span class="col-sm-4">hide</span>
	</div>

	<% end %>

</div>

<script type="text/javascript">

  $( 'input[type="range"]' ).change(function() {
    var rangeValue = $(this).val()
    $(this).prev('.range-input-value').html( rangeValue )
  });

  $( '.clear-number' ).click(function() {
    $(this).parent().prev().find('input').val( null )
    $(this).parent().prev().prev().find('input').val( null )
  });

  $( '.clear-range' ).click(function() {
    $(this).parent().prev().find('input').val( null )
    $(this).parent().prev().prev().find('input').val( 0 )
    $(this).parent().prev().prev().find('.range-input-value').html( "" )
  });

  $( '.clear-boolean' ).click(function() {
    $(this).parent().prev().find('input').val( null )
    $(this).parent().prev().prev().find('input').prop('checked', false)
  });

</script>


