<div class="main">

	<div class="item-edit-page">
		<h1><%= @item.name %></h1>

		<%= form_for(@item) do |f| %>
		  <% if @item.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

		      <ul>
		      <% @item.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="field">
		    <%= f.label :name, "name" %>
		    <%= f.text_field :name %>
		  </div>

		  <div class="field">
		    <%= f.label("color") %>
		    <span>color coming soon</span>
		  </div>

			<div>The graph will go here</div>

		  <div class="actions">
		    <%= f.submit "save changes", class: "btn" %>
		  </div>
		<% end %>

		<div><%= link_to 'Back', items_path %></div>

	</div>
</div>