<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>yo yo yo</h1>
    </div>
    <div class="col-sm-12">
      <%= render partial: "new_item", path: new_item_path %>
    </div>
  </div>



  <div class="row">
    <%= form_tag "/traces_form" do %>
      <div id="datepicker">
        <input name="u_date" type="text" data-provide='datepicker' data-date-format="yyyy-mm-dd" value=<%= @date%>>
      </div>

      <% @form_items.each do |item| %>
        <%= render partial: 'trace_form', :locals => {:item => item[0], :trace => item[1]} %> 
      <% end %>

      <%= submit_tag "submit" %>

    <% end %>
  </div>

</div>


<script type="text/javascript">
$("#datepicker").on("changeDate", function(event) {
  console.log("datepicker changed dates!!!!");
  console.log($("input[name=u_date]").val());

  var u_date = $("input[name=u_date]").val();
  
  $.ajax({
      url: "/items",
      type: "GET",
      data: u_date,
  })
});
</script>
