<div class="main">
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <div class="container-fluid">
    <div class="headline row">
      <div class="col-sm-2"><%= image_tag("star-graph.png", size: "180x150", alt: "witty logo of a heart-shaped graph") %></div>
      <div class="col-sm-10" style="height:150px; top:60px;">
        <h1>coraline</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <%= render partial: "new_item", path: new_item_path %>
      </div>
      <div class="col-sm-6">
        <%= link_to "see graphs", charts_path, class: "btn" %> 
      </div>
    </div>

    <%= render partial: "items" %>

  </div>
</div>