<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>yo yo yo</h1>
    </div>
    <div class="col-sm-12">
      <%= render partial: "new", path: new_item_path %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= Time.now.strftime("%m-%d-%Y") %>
    </div>
  </div>

  <div class="row">
    <% @items.each do |item| %>
      <%= form_for @item do |f| %>

        <div class=""><%= link_to 'X', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <div class=""><%= item.id %></div>
        <div class=""><%= f.text_field :name, placeholder: item.name %></div>

        <%= f.fields_for :trace do |builder| %>
          <div class=""><%= builder.label :input, "input" %><%= builder.number_field :input %></div>
          <div class=""><%= builder.label :notes, "notes" %><%= builder.text_area :notes %></div>
        <% end %>

        <div class="">clear</div><br>

      <% end %>

    <% end %>
    <%= link_to "Update all items", update_items_path(), :onclick => "$('#new_item').submit()", method: :patch %>

  </div>

</div>


