<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>yo yo yo</h1>
    </div>
    <div class="col-sm-12">
      <%= render partial: "new_item", path: new_item_path %>
    </div>
    <div class="col-sm-12">
      <%= link_to "see graphs", charts_path, class: "btn" %> 
    </div>
  </div>

  <%= render partial: "items" %>

</div>


<script type="text/javascript">



</script>
