<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>yo yo yo</h1>
    </div>
    <div class="col-sm-12">
      <%= render partial: "new", path: new_item_path %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= Time.now.strftime("%m-%d-%Y") %>
    </div>
  </div>

  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-1"><%= link_to 'X', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <div class="col-sm-3"><%= item.name %></div>
      <div class="col-sm-3">input</div>
      <div class="col-sm-4">notes</div>
      <div class="col-sm-1">clear</div>
    <% end %>
  </div>

</div>