<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>yo yo yo</h1>
    </div>
    <div class="col-sm-12">
      <%= render partial: "new_item", path: new_item_path %>
    </div>
  </div>



  <div class="row">
    <%= form_tag "/traces" do %>

      <input name="u_date" type="text" data-provide='datepicker' value=<%= @date%>>

      <% @items.each do |item| %>
        <%= render partial: 'trace_form', :locals => {:item => item} %> 
      <% end %>

      <%= submit_tag "submit" %>

    <% end %>
  </div>

</div>


