<p id="notice"><%= notice %></p>

<h1>Listing Traces</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Input</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traces.each do |trace| %>
      <tr>
        <td><%= trace.item_id %></td>
        <td><%= trace.input %></td>
        <td><%= trace.notes %></td>
        <td><%= link_to 'Show', trace %></td>
        <td><%= link_to 'Edit', edit_trace_path(trace) %></td>
        <td><%= link_to 'Destroy', trace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trace', new_trace_path %>
