<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @trace.item_id %>
</p>

<p>
  <strong>Input:</strong>
  <%= @trace.input %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @trace.notes %>
</p>

<%= link_to 'Edit', edit_trace_path(@trace) %> |
<%= link_to 'Back', traces_path %>
